<h1>Roberto Huilco</h1>
<!-- <div class="login-box card" id="card">
    <div class="card-body">
        <form class="form-horizontal form-material" id="loginform" action="index.html">
            <a href="javascript:void(0)" class="text-center db"><img src="./assets/images/products.png" alt="Home"
                    class="imagen" /><br /></a>
            <h3 class="box-title m-t-40 m-b-0">Productos</h3><small>Ingrese y cree un registro de productos</small>
            <div class="form-group m-t-20">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Nombre">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="text" required="" placeholder="Codigo de barras">
                </div>
            </div>
            <div class="form-group ">
                <div class="col-xs-12">
                    <input class="form-control" type="password" required="" placeholder="Fecha caducidad">
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input class="form-control" type="password" required="" placeholder="Precio de venta">
                </div>
            </div>
            <div class="form-group text-center m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light"
                        type="submit">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div> -->